/**
 * Default color wheel theme
 * Modify at your leasure!
 */
.colorwheel {
  position: relative;
  overflow: hidden;
  background: #222;
}

.wheel {
  position: relative;
  z-index: 1;
  display: block;
  margin: 20px auto 0;
  background-image: url("https://raw.githubusercontent.com/benknight/kuler-colorwheel-with-d3/master/colorwheel.png"), radial-gradient(closest-side, rgba(0, 0, 0, 0.9) 0px, rgba(0, 0, 0, 0.9) calc(100% - 20px), transparent calc(100% - 20px));
  background-position: center, 2px 5px;
  background-size: calc(100% - 40px), auto;
  background-repeat: no-repeat;
}
.wheel .marker {
  cursor: move;
  stroke: white;
  stroke-width: 3px;
  stroke-opacity: 0.9;
}
.wheel .marker:first-child {
  stroke-opacity: 1;
  stroke-width: 4px;
}

.theme {
  display: flex;
  text-align: center;
  max-width: 525px;
  min-width: 440px;
  margin: 10px auto 0;
}
.theme .swatch {
  flex: 1;
  padding: 0 0.6% 20px;
}
.theme .swatch input {
  opacity: 0.1;
}
.theme .swatch:hover input {
  opacity: 0.75;
}
.theme .swatch .color {
  position: relative;
  border-radius: 50%;
  padding-top: 100%;
  box-shadow: 2px 2px 0 black;
}
.theme .swatch .slider {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0 20px;
}
.theme .swatch .slider:before {
  content: attr(value) "%";
  display: block;
  position: absolute;
  z-index: -1;
  top: 16px;
  width: 100%;
  font-size: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
}
.theme .swatch .value {
  outline: none;
  width: 100%;
  border: none;
  font-family: Monaco, monospace;
  text-align: center;
  background: transparent;
  color: white;
}

.mode-toggle {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 15px;
  height: 2em;
  border: none;
  background: #222;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  box-shadow: 0 1px 1px black;
  transition: color 0.1s ease;
}
.mode-toggle:hover {
  color: rgba(255, 255, 255, 0.9);
}
