/**
 * Default color wheel theme
 * Modify at your leasure!
 */

// The amount of space to leave on each side of the color wheel to allow
// room for the markers when they're on the edge of the wheel.
$margin: 25px;

// URL to the color wheel asset.
$color-wheel-url: 'https://raw.githubusercontent.com/'
                + 'benknight/kuler-colorwheel-with-d3/master/colorwheel.png';

body {
  background: black;
  margin: 0 auto;
}

#gradient {
  opacity: 0.5;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  filter: url(#wherearemyglasses);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  transform: translateZ(0);
  transition: background-image 0.2s linear;
}

.colorwheel {
  position: relative;
  overflow: hidden; // to contain margins. bad idea? tonight at 11.
}

.wheel {
  position: relative;
  z-index: 1;
  display: block;
  margin: 60px auto 0;
  background-image:
    url($color-wheel-url),
    radial-gradient(
      closest-side,
      rgba(0, 0, 0, 0.9) 0px,
      rgba(0, 0, 0, 0.9) calc(100% - #{$margin}),
      transparent calc(100% - #{$margin})
    );
  background-position: center, 2px 5px;
  background-size: calc(100% - #{2 * $margin}), auto;
  background-repeat: no-repeat;


  .marker {
    cursor: move;
    stroke: white;
    stroke-width: 2px;
    stroke-opacity: 0.9;

    &:first-child {
      stroke-opacity: 1;
      stroke-width: 5px;
    }
  }

  .marker-trail {
    stroke: white;
    stroke-opacity: 0.75;
    stroke-width: 3px;
    stroke-dasharray: 10, 6;
  }
}

.theme {
  display: flex;
  text-align: center;
  max-width: 450px;
  min-width: 350px;
  margin: 10px auto 0;

  .swatch {
    flex: 1;
    padding: 0 0.6% 20px;

    input {
      opacity: 0.3;
    }

    &:hover input {
      opacity: 0.75;
    }

    .color {
      position: relative;
      border-radius: 50%;
      padding-top: 100%;
      box-shadow: 2px 2px 0 black;
    }

    .slider {
      position: relative;
      display: block;
      width: 100%;
      margin: 0 0 15px;
      -webkit-appearance: none;
      outline: none;
      background: transparent;

      &:before {
        content: attr(value) '%';
        display: block;
        position: absolute;
        z-index: -1;
        top: 30px;
        width: 100%;
        font-size: 10px;
        text-align: center;
        color: white;
        text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
      }
    }

    .value {
      outline: none;
      width: 100%;
      border: none;
      font-family: Monaco, monospace;
      text-align: center;
      background: transparent;
      color: white;
    }
  }
}

.mode-toggle {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  height: 2em;
  border: none;
  background: #000;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}


// Slider styles

::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
  border: none;
  margin: 1em 0;
  background: #fff;
  color: #fff;
}

::-moz-range-track {
  height: 2px;
  border: none;
  margin: 1em 0;
  background: #fff;
  color: #fff;
}

::-ms-track {
  height: 2px;
  border: none;
  margin: 1em 0;
  background: #fff;
  color: #fff;
}

::-ms-fill-lower,
::-ms-fill-upper,
::-ms-ticks-before,
::-ms-ticks-after,
::-ms-tooltip {
  display: none;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -7px;
  background: black;
  border: 2px solid #fff;
  height: 15px;
  width: 15px;
  border-radius: 99px;
  cursor: ew-resize;
}

::-moz-range-thumb {
  background: black;
  border: 2px solid #fff;
  height: 15px;
  width: 15px;
  border-radius: 99px;
  cursor: ew-resize;
}

::-ms-thumb {
  background: black;
  border: 2px solid #fff;
  height: 15px;
  width: 15px;
  border-radius: 99px;
  cursor: ew-resize;
}
